.post-container {
  border: 1px solid lightgrey;
  width: 95%;
  max-width: 710px;
  margin: 5rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .post-container {
    margin-top: 5rem;
  }
}
