.userRow {
  display: flex;
  align-items: center;
}

.img {
  margin: 0.5rem;
}

.postUsername {
  margin: 0.5rem;
  font-weight: bold;
}

.thumbnailUrl {
  max-width: 1.5rem;
  border-radius: 50%;
  object-fit: scale-down;
}

.image {
  max-width: 100%;
}
