.comment-section {
  width: 95%;
  margin-top: 0.5rem;
}

.not-liked {
  opacity: 0.8;
  margin-right: 0.5rem;
}

.liked {
  color: red;
  margin-right: 0.5rem;
  opacity: 0.8;
}

span:hover {
  cursor: pointer;
}

.comment {
  opacity: 0.8;
  margin-left: 0.5rem;
}

.comment-input {
  width: 80%;
  padding: 0.3rem;
  outline: none;
  border: none;
}

.comment-input:focus {
  border: 1px solid lightgrey;

  border-radius: 8px;
}

.add-comment-focused {
  border: 1px solid lightgrey;
  border-radius: 8px;
  background-color: white;
  outline: none;
}

.add-comment-focused:hover {
  cursor: pointer;
}

.add-comment-not-focused {
  border: none;
  background-color: white;
  outline: none;
}
